<link rel="stylesheet" href="{{ asset('css/header.css') }}">
<link rel="stylesheet" href="{{ asset('css/profile-modal.css') }}">
<script src="{{ asset('js/modal-profile.js') }}"></script>
<header class="page-header">
    <div class="header__wrapper">
        <nav class="header-panel">
            <div class="header-img">
                <a class="header-img" href="https://vk.com/concordiacraft"><img class="header-img__Vk" src="{{asset ("img/Vk.svg")}}" width="35px" height="31px" ></a>
                <a class="header-img" href="https://discord.gg/3qEtBJsq"><img class="header-img__Discord" src="{{asset ("img/Discord.svg")}}" width="35x" height="31px"></a>
            </div>
            <div class="header-logo hidden-logo">
            <a class=" header-logo__link"><img src="{{asset ("img/logo.png")}}" class="logotype "></a>
            </div>
            <ul class="navigation">
                <li class="navigation__item"><a class="navigation__link" href="{{ path('news',{'page':0}) }}">НОВОСТИ</a></li>
                <li class="navigation__item"><a class="navigation__link" href="">КАРТА</a></li>
                <li class="navigation__item"><a class="navigation__link navigation__link_color_grey" >МАГАЗИН</a></li>
                <li class="navigation__item">
                    <div class="dropdown">
                        <p class="dropdown__title">ПОМОЩЬ</p>
                        <div class="dropdown-content">
                            <a class="dropdown-content__link" href="{{ path('help') }}">ЭНЦИКЛОПЕДИЯ</a>
                            <a class="dropdown-content__link" href="{{ path('about') }}">О ПРОЕКТЕ</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="profile-button">
               <button class="profile-button__button open_modal">ПРОФИЛЬ</button>
                <div class="profile-button__shade"></div>
            </div>
        </nav>
    </div>
    <div id="modal" class="modal">
    <div id="close_modal">+</div>
    <form action="index.html.twig" class="profile-form">
        <h1 class="profile-form__title">ПРОФИЛЬ</h1>
        <div class="profile-window">
            <input type="text" class="profile-window__text" placeholder="Введите имя игроа">
        </div>
        <div class="profile-form-center">
        <input id="btn-ajax" type="button" class="profile-form__button" value="НАЙТИ" >
        <div class="profile-form__shadow"></div>
        </div>
        <p class="error">Данный игрок не найден</p>
    </form>
    </div>
</header>

