<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/help.css') }}">
</head>
<body class="help">
{{ include('main/header.html.twig') }}
<main class="help">
    <div class="help__wrapper wrapper">
        <div class="help-title">
            <h1 class="help-title__title">РУКОВОДСТВО ПО ПРЕДМЕТАМ</h1>
        </div>
        <div class="help__table">
            <div class="help__row">
                {% for item in allItems %}
                <div class="help-column">
                    <img class="help-column-img__сraft" src="{{asset ('img/items/'~item.craftImage)}}">
                    <h4 class="help-column__title">{{item.Name}}</h4>
                    <p class="help-column__description"> {{ item.description }}.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{{ include('main/footer.html.twig') }}
</body>
</html>