
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
</head>
<body class="profile">
{{ include('main/header.html.twig') }}
<main class="profile">
    <script src="{{ asset('js/profile.js') }}"></script>
    <div class="profile__wrapper wrapper">
    <div class="profile-player">
        <h1 class="profile-player__title">{{ Nick }}</h1> <!-- Ник игрока, это мне через ajax -->
        <div class="profile-player__img"><img src="{{ Image }}" alt=""></div> <!-- Скин игрока, это мне через ajax -->
    </div>
    <div class="profile-info">
        <div class="profile-info-navigation">
            <div  class="profile-info-button">
                <button class="profile-info-button__person profile-info-button_color_darker">ПЕРСОНАЛЬНОЕ</button>
                <div class="profile-info-button__shade shade"></div>
            </div>
            <div  class="profile-info-button">
                <button class="profile-info-button__city ">ГОРОД</button>
                <div class="profile-info-button__shade shade"></div>
            </div>

    </div>
        <div class="profile-info-main-person">
            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Статус:</h3>
                <p class="profile-main-section__text">Игрок</p> <!-- Переменная статуса -->
            </div>
            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Член города:</h3>
                <p class="profile-main-section__text">{{TownName}}</p> <!-- и.т.д -->
            </div>
            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Личные средства:</h3>
                <p class="profile-main-section__text">{{ Cash }}</p> <!-- и.т.д -->
            </div>
        </div>
        <div class="profile-info-main-city profile-info-main_theme_hidden">
            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Мер города:</h3>
                <p class="profile-main-section__text">{{TownOwner}}</p> <!-- Переменная статуса -->
            </div>
            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Название города:</h3>
                <p class="profile-main-section__text">{{TownName}}</p> <!-- Переменная земель -->
            </div>

            <div class="profile-main-section">
                <h3 class="profile-main-section__title">Городской бюджет:</h3>
                <p class="profile-main-section__text">{{TownCash}}</p> <!-- и.т.д -->
            </div>
        </div>
        </div>
    </div>
</div>
</main>
{{ include('main/footer.html.twig') }}
</body>
</html>

